<div class="question-container">
    <mat-card class="question-card">
        <mat-card-header>
            <mat-card-title>{{ question?.text }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="answer-buttons">
                <button mat-stroked-button class="answer-button"
                    (click)="onAnswerClick(answer)"
                    *ngFor="let answer of question?.answers">
                    {{ answer.value }}
                </button>
            </div>
            <button mat-stroked-button class="mat-primary"
                *ngIf="isSeeYourChoicesButtonVisible"
                (click)="onSeeYourChoicesClick()">
                <mat-icon>history</mat-icon> See your choices
            </button>
        </mat-card-content>
    </mat-card>
</div>